/* START UPLOAD  BOX */

#uploadRoot {
    margin: 5pc auto;
    width: 70%;
    border-radius: .4pc;
    box-shadow: 0 0.66pc .666pc #eee;
    background-color: #fff;
    padding: .5pc;

}
.main_root {
    margin-top: 1pc;
    background-color: var(--color-gray-05);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-between;
    gap: 1pc;
    padding: 1pc;

}

.up_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1pc;

}

.upload_box {
      display: flex;
    align-items: center;
    justify-content: space-around;
    width: fit-content;
    gap: .5pc;
    border: .1pc solid #eee;
    padding: 1pc;
    border-radius: 4px;
}

.uplabelbtn {
    background-color: #007bff; /* Change the button background color */
  color: #fff; /* Text color */
  padding: 8px 12px; /* Adjust padding to fit the button size */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Show pointer cursor on hover */
  display: inline-block;
}

.uploadcpsbtns {
    padding: 4px 6px;
    border-radius: 4px;
    border: none;
}


.upload_box:hover {
    background-color: #eeeeee65;
}

.upload_input {
    display: none;
}

.subject_total_btn {
    height: 2pc;
    width: 7pc;
    padding: .5pc;
}


@media only screen and (max-width:960px) {
    .up_row {
        display: flex;
        flex-direction: column;
        gap: 1pc;
        align-items: center;
    }
}

